table {
    position: flex;
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
}

table td {
    width: 250px;
    padding-bottom: 5px;
}

table th {
    text-decoration: underline black;
    padding-bottom: 10px;
}

#listQuery {
    width: 350px;
}
