#menu {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    width: 1000px;
}

#menu li {
    float: left;
    list-style-type: none;
    padding: 5px 20px 5px 3px;
    width: 150px;
    background-color: darkblue;
}

#menu li ul {
    background-color: darkblue;
    margin: 0px;
    padding: 0px;
}

#menu li ul li {
    color: white;
    float: none;
    list-style-type: none;
    width: auto;
    margin: 3px 0px 0px 0px;
    padding: 5px 3px;
}


.menu:hover .dropMenu {
    display: block;
}

.menu .dropMenu {
    display: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    opacity: 0.8;
}